
footer{
    width: 100%;
    height: 300px;
    background-color: #e7e5e6;
    display: inline-block;
}
.map{
    width: 57%;
    height: 86%;
    border-radius: 14px;
    float: left;
    border: 6px solid #aaa7a7;
}
.contact{
    width: 40%;
    height: 96%;
    float: right;
    border: 2px solid #9b9696;
}
ol{ 
    height: 90%;
    width: 80%;
    margin: auto;
    
}
ul a{
     text-align: center;
     display: block;
     padding: 18px;
     margin: 18px;
     border-radius: 14px;
     border: 1px solid #c2bfbf;
     text-decoration: none;
}