header{
    width: 80%;
   height: 320px;
   margin: auto; 
   background-color: #fff;
}
.banner-1{ 
   height: 300px;
   width: 76%;margin: auto;
   }
.banner-1 img{ 
  width: 100%;
  height: 100%; 
  animation: image 80s infinite;
   }