.card{
    width: 400px;
    margin: auto;
}
h4{
    text-align: center;
    color: #7a6c6c;
    font-weight: 900;
}
.imge{
    width: 100%;
    height: 266px;
}
img{
    height: 100%;
    width: 100%;
}
p{
    color: #524e4e;
    font-family: cursive;
}
p::selection{
    background-color: #41e14e;
}